---
layout: base
use: ["posts"]

---

<div class="card-columns">
    {% for post in data.posts %}
		<div class="card text-center card-inverse">
			{% if post.img %}
				<img width="355" height="222" class="card-img-top" src="{{ post.img }}"{% if post.imgalt %} alt="{{ post.imgalt }}"{% endif %}>
			{% endif %}
			<div class="card-block">
				<h2 class="card-title">{{ post.title|raw }}</h2>
				<p class="card-text">{{ post.description|nl2br }}</p>
				<p class="lead"><a class="btn btn-outline-warning" href="{{ site.url }}{{ post.url }}" role="button">Lire...</a></p>
			</div>
		</div>
    {% endfor %}
</div>
<script>
$(document).ready(function() {
	$('.card').click(function(){location=$(this).find('a').last().attr('href');});
	$('.card').css('cursor','pointer');
});
</script>
